{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "blog-base.html.twig" %}

{% set header_image = 'img/contact-bg.jpg' %}
{% set header_title = 'Contact Me' %}
{% set header_baseline = 'Have questions? I have answers..' %}
{% set seo_title = "Contacte me" %}

{% block main %}

    <h2>Fill the form to leave a message</h2>

    {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}