<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if metaDescription is defined %}{{ metaDescription }}{% else %}Meta description par défaut{% endif %}" />
    <title>{% if metaTitle is defined %}{{ metaTitle }}{% else %}Titre par défaut{% endif %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("homepage") }}">Blog admin</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if app.user is not null %}
                <ul class="nav navbar-nav mr-auto">
                    {% set route = app.request.get('_route') %}
                    <li class="{{ 'category' in route ? 'active'}}"><a class="active" href="{{ path("admin.category") }}">Categories</a></li>
                    <li class="{{ 'post' in route ? 'active'}}"><a href="{{ path("admin.post") }}">Posts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                </ul>
                {% endif %}

            </div>
        </div>
    </nav>
    <p>Bonjour, <b>{{ app.user.getFirstName }} {{ app.user.getLastName }}</b>.</p>

    {% block body %}
        <h1>Hello</h1>
    {% endblock %}
</div>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>