{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "admin-base.html.twig" %}

{% block body %}
    {% if category.id is null %}
        <h2>Ajouter une catégorie</h2>
    {% else %}
        <h2>Modifier une catégorie</h2>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

