{% extends "admin-base.html.twig" %}


{% block body %}

    <h2>Categories</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width:50px;">Id</th>
            <th>Label</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.label}}</td>
                <td class="text-right">
                    <a href="{{ path('admin.category', {id: category.id }) }}" class="btn btn-sm btn-info">Editer</a>
                    <a href="{{ path("admin.category.delete", {id: category.id}) }}" class="btn btn-sm btn-warning">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Posts</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width:50px;">Id</th>
            <th>Title</th>
            <th>Author</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title}}</td>
                <td>{{ post.author}}</td>
                <td class="text-right">
                    <a href="{{ path('admin.post', {id: post.id }) }}" class="btn btn-sm btn-info">Editer</a>
                    <a href="{{ path("admin.post.delete", {id: post.id}) }}" class="btn btn-sm btn-warning">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}