{%  trans_default_domain 'FOSUserBundle' %}
{% extends '::admin-base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
	<div class="jumbotron">
	    <form action="{{ path("fos_user_security_check") }}" method="post" class="text-center">
	        {% if csrf_token %}
	            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
	        {% endif %}

		    <div class="form-group">
		        <label for="username">{{ 'security.login.username'|trans }}</label>
		        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
		    </div>

	        <div class="form-group">
		        <label for="password">{{ 'security.login.password'|trans }}</label>
		        <input type="password" id="password" name="_password" required="required"/>
	        </div>

	        <div class="form-check">
		        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
		        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	        </div>

	        <input type="submit" id="_submit" name="_submit" class="btn btn-info" value="{{ 'security.login.submit'|trans }}"/>
	    </form>
	</div>
{% endblock %}