{% extends "blog-base.html.twig" %}

{% block main %}
    {% for post in posts %}
        {% include "@App/parts/post.html.twig" %}
    {% else %}
        Pas de posts
    {% endfor %}
{% endblock %}

{% block copyright %}
    {{ parent() }}

    <p class="copyright text-muted">COPYRIGHT 2017</p>
{% endblock %}