{% extends "blog-base.html.twig" %}

{% set header_image = 'img/about-bg.jpg' %}
{% set header_title = page.title %}
{% set header_baseline = page.subTitle %}
{% set seo_title = page.seoTitle %}

{% block main %}
    {{ page.content|nl2br }}
{% endblock %}