{% extends "blog-base.html.twig"  %}

{% set header_image = 'img/post-bg.jpg' %}
{% set header_title = post.title %}
{% set header_baseline = post.subTitle %}
{% set seo_title = post.seoTitle  %}

{% block main %}
    {{ post.content|dictionary|raw|nl2br }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}