{% extends "blog-base.html.twig" %}

{% block main %}
    <h3>{{ category.label }}</h3>
    {% for post in category.posts %}
        {% include "@App/parts/post.html.twig" %}
    {% else %}
        Pas de posts pour cette catégorie
    {% endfor %}
{% endblock %}

{% block copyright %}
    {{ parent() }}

    <p class="copyright text-muted">COPYRIGHT 2017</p>
{% endblock %}